{{ define "base" }}
{{define "title"}}Category{{end}}
{{define "main"}}
<h2>Category</h2>
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ template "title" . }}</title>
</head>
<body>
{{ template "main" . }}
{{ template "footer" . }}
</body>
</html>
{{ end }}
